/*GENERAL*/

a,
a:hover {
	text-decoration: none;
	color: gray;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1200px;
}

/*NAVIGATION*/

.top-nav {
	border-bottom: 1px solid #d6d5d6;
	background-color: #fff;
}

.brand-name {
	font-size: 18px;
	line-height: 18px;
}

.brand-name,
.nav-link {
	color: #444;
	font-weight: 700;
}

.brand-name:hover,
.nav-link:hover {
	color: #9b0ba4;
}

/*HERO SECTION*/

.hero {
	margin-top: 130px;
}

.hero-quote {
	line-height: 2rem;
	font-size: 2rem;
}

.hero-quote span {
	color: #9b0ba4;
	font-size: 2.5rem;
	font-weight: 700;
	vertical-align: text-top;
}

.hero-quote:before {
	content: "«";
	color: #9b0ba4;
	font-size: 3rem;
	font-weight: 700;
	vertical-align: text-top;
}

.hero-quote:after {
	content: "»";
	color: #9b0ba4;
	font-size: 3rem;
	font-weight: 700;
	vertical-align: text-top;
}

.hero-btn {
	color: #9b0ba4;
	border: 1px solid #9b0ba4;
}

.hero-btn:hover {
	color: #fff;
	background-color: #9b0ba4;
}

/*welcome*/

.welcome,
.registration {
	background-color: #9b0ba4;
	padding: 100px 0;
}

.welcome-img {
	background-image: url(img/e2ea54fdba015dab939c9cd26a49b400.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.welcome-title,
.registration-title {
	font-size: 5rem;
	color: #fff;
	font-weight: 300;
}

.welcome-title ~ span {
	font-size: 3.5rem;
	color: #fff;
	font-weight: 700;
	line-height: 3rem;
}

.welcome-descr {
	padding-top: 1rem;
	max-width: 600px;
	color: #fff;
	margin-left: 50px;
	text-align: justify;
}

.about,
.review {
	padding: 50px 0;
}

.about-title,
.services-title,
.review-title,
.blog-title,
.contacts-title {
	font-size: 5rem;
	font-weight: 300;
	color: #9b0ba4;
	text-align: center;
	margin-bottom: 2rem;
}

.postscr {
	max-width: 400px;
	font-size: 14px;
}

.postscr:before {
	content: 'P.S:';
	color: #9b0ba4;
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 3rem;
	font-weight: 700;
	float: left;
}

.about-img {
	width: 150px;
	height: 250px;
}

/*services*/

.services,
.contacts {
	padding: 100px 0;
	background-color: #eceae7;
}

.services-link {
	color: #fdac1f;
}

/*registration*/

.registration-btn,
.subscription-btn {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 0;
}

.registration-btn:hover,
.subscription-btn:hover {
	color: #fdac1f;
	border: 1px solid #fdac1f;
}

/*review*/

.carousel-item .blockquote {
	min-height: 160px;
	overflow: hidden;
}

.carousel-control-prev i,
.carousel-control-next i {
	color: #9b0ba4;
	font-size: 2rem;
}

.carousel-control-prev {
	left: -70px;
}

.carousel-control-next {
	right: -70px;
}

.carousel-indicators li {
	width: 20px;
	height: 20px;
	border: 2px solid #9b0ba4;
	background-color: #fff;
}

.carousel-indicators li.active {
	width: 20px;
	height: 20px;
	background-color: #9b0ba4;
}

.subscription,
.footer {
	padding: 50px 0;
	background-color: #9b0ba4;
}

.subscription-title {
	color: #fff;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
}

.blog {
	padding: 50px 0;
}

.blog-item {
	position: relative;
}

.blog-item__data {
	padding: 10px;
	width: 75px;
	background-color: rgba(61%, 4%, 64%, 0.7);
	position: absolute;
	bottom: 0;
	-webkit-transform: translate(-20%, -20%);
	transform: translate(-20%, -20%);
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
	text-align: center;
	line-height: 1rem;
}

.blog-item__month {
	font-family: Roboto, sans-serif;
	font-size: 0.75rem;
	font-weight: 300;
	font-style: italic;
}

.blog-btn {
	color: #fdac1f;
	border: 1px solid #fdac1f;
	margin-top: 2rem;
}

.blog-btn:hover {
	color: #fff;
	background-color: #fdac1f;
}

.contacts .fa {
	color: #9b0ba4;
	font-size: 3rem;
	vertical-align: middle;
}

.footer {
	color: #fff;
}

@media screen and (max-width: 1024px) {
	.hero-quote {
		font-size: 1.8rem;
	}
	.welcome-title {
		font-size: 4rem;
	}
	.welcome-title ~ span {
		font-size: 2.5rem;
	}
	#carouselExampleIndicators {
		display: none;
	}

}



@media screen and (max-width: 768px) {}
