.cart{
	padding: 20px 30px;
	background-color: $bg-color-main;

	&-table{
		width: 100%;
		margin-bottom: 1rem;
		text-align: right;
	}

	&-head{
		color: #b4bbc2;
		border-bottom: 1px solid #dee2e7;
		line-height: 36px;
		font-size: 14px;
	}
	
	&-border{
		border-bottom: 2px solid #dee2e7;
	}
	
	&-total-sum{
		line-height: 42px;
		
		&-title{
			padding: 15px;
			color: #b4bbc2;
		}
	}
	
	&-order{
		text-align: left;
	}
}

.product-colors{
	padding: 0;
	margin: 0;
	color: #b4bbc2;
	display: inline-block;
	font-size: 14px;
	
	&-variants{
		display: inline-block;
    margin: 4px 0px 5px 6px;
    vertical-align: middle;

		&-link{
			padding: 0px;
			
			&-icon{
				display: inline-block;
				width: 16px;
				height: 16px;
				line-height: 13px;
				text-align: center;
				vertical-align: middle;
				border-radius: 50%;
				}
			}
		}
	}
.product-size{
	color: #b4bbc2;
	margin-left: 30px;
	font-size: 14px;
	
	&-link{
		font-size: 12px;
		padding: 1px 5px;
		margin-left: 8px;
	}
}
.active span:before {
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAGlJREFUCJltziEOwlAQhOF5IWgUgiCKRPWQnACFIFh6Dw6Aa2oqewJO8CF4LyD4k002M5uZLcgf1knuSY5Bjx1SZ4XBh0fwwoIOBbdqPrEJTlWYca37iC3SYs++zNi3ynZQcMGEw88/eQN4pIxjOVJQVQAAAABJRU5ErkJggg==');
  color: #fff;
}
.cart td {
  padding: 8px;
}
.image{
	text-align: right;
	width: 130px;
}
.name{
	width: 44%;
	text-align: left;
}
.product-name{
	color: #383737;
	
	&:hover{
		color: lighten(#383737, 20%);
	}
}
.quantity{
	width: 20%;
}
.quantity input {
    float: right;
    height: 29px;
    width: 36px;
    border: none;
    text-align: center;
		background-color: transparent;
		outline: none;
}
.quantity .plus {
    width: 26px;
    height: 25px;
    border-radius: 5px;
    background-color: #24aa98;
    position: relative;
    float: right;
    cursor: pointer;
}
.quantity .minus {
    width: 26px;
    height: 25px;
		border-radius: 5px;
    background-color: #db7560;
    position: relative;
    float: right;
    cursor: pointer;
}
.quantity .plus:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    background: #fdf6f4;
    width: 9px;
    height: 2px;
}
.quantity .minus:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    background: #fdf6f4;
    width: 9px;
    height: 2px;
}
.quantity .plus:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 12px;
    background: #fdf6f4;
    width: 2px;
    height: 10px;
}

.back-to-shopping-link{
	margin-left: 10px;
	color: $info;
	
	&--icon{
		margin-right: 10px;
	}
}

.cart-submit{
	width: 40%;
	padding: 15px;
	margin-right: -10px;
  background-image: url(../images/icons/order-icon.png);
  background-position: 74% center;
  background-repeat: no-repeat;
}