.payment-method{
	@extend .contact;
	margin: 10px;
	
	&-title{
		@extend .contact-title;
	}
	
	&-label{
		display: block;
		padding-bottom: calc(1rem/2);
	}
	
	&-form{
		display: inline-block;
		width: 22%;
	}
	
	&-select{
		@extend .form-select;
		width: 46%;
	}
}
.credit-card{
	max-width: 325px;
	
	&-group{
		display: flex;
		justify-content: space-between;
	}
}
.billing-address{
	position: relative;
}
.total-sum-usd{
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 1.5rem;
	color: #383737;
}
