
body{
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 685px;
    height: 245px;
    background-color: #e0e0e0;
    margin: 0 auto;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.col {
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.15); 
    float: left;
    position: relative;
}
.tooltip-right{
    float: right;
}
.user{
    padding: 24px;
    padding-bottom: 18px;
    font-weight: 500;
}
.user__foto {
    float: left;
    margin-right: 24px;
}
.user__name {
    font-size: 18px;
    line-height: 0;
    color: #333333;
}
.user__info {
    color: #888888;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
}
.links {
    font-size: 14px;
    text-transform: uppercase;
    padding: 17px 24px;
    border-radius: 3px;
}
.links__message,
.links__like{
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
}
.links__message{
    width: 107px;
    background-color: #00bcd4;
    color: #fff;
}
.links__like{
    width: 121px;
    background-color: #e0e0e0;
    color: #333333;
    margin-left: 12px;
}
.inverse{
    background-color: #444444;
}
.inverse .user__name{
    color: #ffffff;
}
.inverse .user__info{
    color: #aaaaaa; 
}
.inverse .links{
    background-color: #333333;
}
.inverse .links__like{
    background-color: #444444;
    color: #ffffff;
}
.delta::after {
    content: ''; 
    position: absolute;
    left: 24px;
    top: -24px;
	border: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
}
.inverse.delta::after{
    content: ''; 
    position: absolute;
    left: 291px;
    top: 24px;
    border: 12px solid transparent;
    border-left: 12px solid #444444;
}