doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name='viewport' content='width=device-width')
		link(rel="stylesheet" href="css/main.min.css")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet")
		title Forms
	body
		div(class="container")
			include layouts/desktop-login-forms
			include layouts/mobile-login-forms
			include layouts/contact
			include layouts/cart
			include layouts/shipping-address
			include layouts/payment-method
