/* Small Devices, Tablets */
@media only screen and (max-width : 860px) {

    .b-popup-content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .b-form{
        border-left: none;
        border-bottom: 1px solid #cfcfcf;
        padding: 24px 0;
        margin: 0 60px;
    }
    .b-social-networks{
        padding: 24px 60px;
    }

}