html, body {
    background-color: #e8e8e8;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a, button{
  cursor:pointer;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width: 300px;
    height: 40px;
}
.container{
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.b-popup{
    max-width: 840px;
    margin-top: 50px;
    border-top: 2px solid #e62b1e;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.b-popup-header{
    padding: 30px;
    position: relative;
    background-color: #fff;
}
.b-popup-header__title{
    text-align: center;
    font-size: 30px;
    color: #333333;
}
.popup--close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c2c2c2;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.popup--close:hover{
    color: #000;
    cursor: pointer;
}
.b-popup-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    background-color: #f3f3f3;
}
.b-social-networks{
    padding: 30px 60px;
}
.btn{
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    padding: 0 60px 0 90px;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
}
.btn--fb{
    background-color: #3e5b96;
}
.btn--gl{
    background-color: #dd5342;
    margin-top: 20px;
}
.btn--fb:hover{
    background-color: #385388;
}
.btn--gl:hover{
    background-color: #cd4c3c;
}
.btn--fb-icon,
.btn--gl-icon{
    left: 10px;
    top: 12px;
    position: absolute;
}
.b-form{
    padding: 0 60px;
    border-left: 2px solid #cfcfcf;
    margin: 30px 0;
}
.b-form-group:not(:last-child){
    padding-bottom: 18px;
    font-size: 14px;
}
.checkbox {
	cursor:pointer;
	display: block;
}
.checkbox input {
    display: none;
}
.checkbox input + span:before {
    content:'';
    font-size: 12px;
    text-align: center;
    height: 12px;
    width: 12px;
    float: left;
    background-color: #fff;
    border-radius:3px;
    margin-right: 7px;
    border: 1px solid #999;
}
		
.checkbox input:checked + span:before {
    content:'✓';
    text-align: center;
    background-color: #3b99fc;
    color: #fff;
    border: 1px solid #3b99fc;
}
.b-form__btn{
    height: 40px;
    width: 105px;
    border: none;
    background-color: #252525;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}
.submit-btn{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.b-form__btn:hover{
    background-color: #666666;
}
.b-form__help-link{
    color: #252525;
    -webkit-text-decoration-color: #656565;
    text-decoration-color: #656565;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.b-form__help-link:hover{
    color: #666666;
}
.b-popup-footer{
    padding: 40px;
    background-color: #fff;
    font-weight: 300;
}
.b-sing-up{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #666666;
}
.b-sing-up__link{
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
    font-weight: bold;
}
/* for validation */

.b-textfield_invalid label{
    color: #bf0c00;
}
.b-textfield_invalid input{
    border: 1px solid #bf0c00;
}