.container{
    min-width: 760px;
    height: 900px;
    background-color: #e8e8e8;
}
.b-popup{
    height: 500px;
    width: 839px;
    position: relative;
    top: 50px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    border-top: 2px solid #e62b1e;
    -webkit-box-shadow: 0px 3px 1px 0px rgba(174,174,174,1);
            box-shadow: 0px 3px 1px 0px rgba(174,174,174,1);
}
.b-popup-header,
.b-popup-footer{
    height: 85px;
    width: 100%;
    background-color: #fff;
}
.b-popup-header h1{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 31px;
    padding: 27px 0;
    text-align: center;
    color: #333333;
}
.b-popup-header img{
    float: right; 
    margin: -70px 15px; 
    -webkit-transition: 1s; 
    -webkit-transition: 0.5s; 
    transition: 0.5s;
}
.b-popup-header img:hover{
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
}
.b-popup-content{
    width: 100%;
    height: 290px;
    background-color: #f3f3f3;
    padding-top: 40px;
}
.b-social-network{
    width: 50%;
    height: 250px;
    border-right: 1px solid #cfcfcf;
    float: left;
}
.b-social-network__link{
    width: 300px;
    height: 40px;
    margin: 0 auto;
}
.b-social-network__facebook,
.b-social-network__google{
    display: block;
    border-radius: 3px;
    padding: 7.5px 0;
    color: #fff;
    text-decoration: none;
}
.b-social-network__facebook img,
.b-social-network__google img{
    margin-left: 15px;
}
.b-social-network__facebook span,
.b-social-network__google span{
    margin-left: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-right: 64px;
    margin-top: 6px;
}
.b-social-network__facebook{
    background-color: #3e5b96;  
}
.b-social-network__facebook:hover{
    background-color: #385388;  
}
.b-social-network__google{
    background-color: #dd5342;
    margin-top: 20px; 
}
.b-social-network__google:hover{
    background-color: #cd4c3c;
}
.b-form{
    height: 250px;
    width: 49.8%;
    float: left;
    padding-top: 4px;
}
.b-form-group{
    height: 60px;
    width: 300px;
    margin: 0 auto;
}
.b-form__label_login,
.b-form__label_password,
.b-form-checkbox,
.b-form__btn,
.b-form__help-link{
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.b-form__label_login,
.b-form__label_password{
    display: block;
    margin-bottom: 8px;
}
.b-form__label_password{
    margin-top: 24px;
}
.b-textfield{
    height: 36px;
    width: 300px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.b-form-checkbox{
    height: 38px;
    padding-top: 24px;
    width: 300px;
    margin: 0 auto;
}
.b-form__hide-checkbox{
    display: none;
}
.b-form__icons-checkbox{
    display: block;
    height: 15px;
    width: 15px;
    background-image: url(../images/checkbox.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-right: 7px;
}
.b-form__icons-checkbox_checked{
    display: block;
    height: 15px;
    width: 15px;
    background-image: url(../images/checked_checkbox.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-right: 7px;
}
.check-remember{
    position: absolute;
    margin-left: 20px;
}
.b-form-login {
    height: 60px;
    width: 300px;
    margin: 0 auto;
}
.b-form__btn{
    height: 40px;
    width: 103px;
    border: none;
    border-radius: 3px;
    background-color: #252525;
    color: #fff;
}
.b-form__btn:hover{
    background-color: #666666;
    cursor: pointer;
}
.b-form__help-link{
    text-decoration: none;
    color: #252525;
    float: right;
    border-bottom: 2px solid #656565;
    margin-top: 12px;
}
.b-form__help-link:hover{
    color: #666666;
}
.b-sing-up{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #666666;
    line-height: 85px;
}
.b-sing-up__link{
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid #000000;
    margin-left: 6px;
}
.line{
    display: none;
    width: 300px;
    color: #b9b9b9;
    margin: 0 auto;
}
/* for validation */

.b-textfield_invalid label{
    color: #bf0c00;
}
.b-textfield_invalid input{
    border: 1px solid #bf0c00;
}
