
/*
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*/
body {
	font-family: 'Roboto', sans-serif;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
	box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.6);
	color:#fff;
	z-index: 1000;
	height: 110px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	transition: height 0.3s;
	text-align:center;
	line-height: 80px;
}
.fixed-header {
 	height: 80px;
  line-height: 15px;
}
.h-title{
	padding: 15px 0;
}
.h-title__logo{
	color: #17a2b8;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: left;
}
.h-title__logo-descr{
	color: #fff;
	display: block;
	font-size: 14px;
}
.main-section-bg{
	background: url(../img/computer-pc-workplace-home-office-159760.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	z-index: -9;
}
.main-section{
	color: #fff;
	padding-top: 110px;
}
.main-section__title{
	font-size: 1.5rem;
	color: #17a2b8;
	font-weight: bold;
}
.reasons-icon{
	width: 70px;
	height: 70px;
	margin-right: 10px;
}
.reasons-title{
	color: #fff;
	font-size: 1.3rem;
}
.reasons-title span{
	color: #ffc107;
	font-size: 1.8rem;
}
video{
	display: block;
	
}
#video{
	background-image: url(video/poster.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -900;
	position: absolute;
}
.contact-form{
	position: relative;
	margin-top: 2rem;
}
.main-section__reasons,
.contact-form__bg{
	margin-top: 2rem;
	padding: 1rem;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
	box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.6);
}
.main-section__reasons .fa{
	font-size: 5rem;
	float: left;
	color: #17a2b8;
}
.main-section__reasons h3{
	color: #ffc107;
	font-size: 1.3rem;
	margin-left: 85px;
}
.main-section__reasons p{
	margin-left: 85px;
}

/*Section Services*/
.services{
	margin: 2rem 0;
}
.services-content{ 
	padding: 1rem 0;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	background-color: #17a2b8;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.services-content__list{
	list-style: none;
	min-height: 300px;
}
.services-content__list li{
	display: block;
	padding: 5px;
	color: #fff;
}
.services-content__list li::before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f058";
	color: #ffc107;
	margin-right: 10px;
}
.services-content .services__btn{
	width: 100%;
	font-size: 1.3rem;
}
.divider-wrap {
    margin: 2rem 0;
    text-transform: uppercase;
    overflow: hidden;
}
.divider:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background-color: #b4bbc2;
    left: -.5em;
    margin: 0 0 0 -5%;
}
.divider:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background-color: #b4bbc2;
    left: .5em;
    margin: 0 -50% 0 0;
}

/*Slider*/

.section-slider {
	margin: 2rem 0;
	padding: 60px 0;
	background-color: #ece8e8;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.quote-slider__item {
   padding: 0 120px;
}
.quote-slider__item h3{
	color: #17a2b8;
}
.quote-slider__item-img {
    float: left;
    margin-right: 60px;
    border: 3px solid #95e1d3;
    padding: 40px;
}
.quote-slider__item-quote {
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #999;
}
.section-slider .quote-slider__item-control-prev-icon {
    background-image: url(../img/icons/arrow_left.svg);
}
.section-slider .quote-slider__item-control-next-icon {
    background-image: url(../img/icons/arrow_right.svg);
}
.how-we-work__content p{
	font-size: 14px;
	margin-top: 20px;
	max-width: 200px;
}
.how-we-work__icon{
	width: 100px;
	height: 100px;
	background-color: #ffc107;
	border: 1.5px solid #17a2b8;
	border-radius: 50%;
	color: #17a2b8;
	font-size: 60px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	margin: 0 auto;
}
.how-we-work__next-icon{
	width: 50px;
	height: 50px;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);

}
.how-we-work__icon:hover{
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}
.contact-form{
	margin-top: 2rem;
	max-height: 500px;
	overflow: hidden;
}
.contact-form__content{
	padding: 2rem 0;
}
.contact-form__content h3{
	color: #fff;
	font-size: 2rem;
	margin-bottom: 1rem;
}
.contact-form__content a{
	color: #fff;
	display: inline-block;
	font-size: 1.5rem;
}
.contact-form__content a:hover{
	text-decoration: none;
}

/*map*/
#map {
	height: 400px;
	width: 100%;
 }
.map-title{
	text-align: center;
	padding: 1rem;
	background-color: #17a2b8;
	color: #fff;
}

/*media*/
@media screen and (max-width: 1366px){
	.main-section-bg {
    height: 100%;
		padding-bottom: 50px;
	}
	.main-section__reasons{
		padding: 15px;
	}
	.main-section__title{
		display: none;
	}
	.main-section__reasons .fa{
	font-size: 4rem;
}
	.main-section__reasons{
	margin-top: 1.5rem;
	padding: 1.5rem;
	}
	.main-section__reasons h3{
		font-size: 1.2rem;
		margin-left: 70px;
	}
	.main-section__reasons p{
		margin-left: 70px;
		line-height: 1.3;
	}
}