@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

/*################*/
/* GENERAL STYLES */
/*################*/

html, body {
    height: 100%;
}

a,
a:hover,
a:active,
a:visited,
a:focus{
    text-decoration: none;
}
p{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/*icons in section-2*/

.the-icons {
    height: 32px;
    background-repeat: no-repeat;
    margin-left: 30px;
}
.the-icons h2{
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}

/*block section-header*/

.section-header{
    color: #333333; 
    text-align: center;
    margin-bottom: 35px;
}
.section-header__top{
    margin-top: 110px;
    font-size: 24px;
    font-family: 'Kaushan Script', sans-serif;
    margin-bottom: 20px;
}
.section-header__bottom{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.section-header__divider{
    width: 60px;
    height: 3px;
    background-color: #f38181;
    border: none;
}

/*####################*/
/* END GENERAL STYLES */
/*####################*/


/*HEADER*/

.header{
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    line-height: 34px;
    z-index: 999;
}
.header-logo a{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.header-menu{
    list-style: none;
    margin: 0;
}
.header-menu__item{
    display: inline-block;
    padding: 0 20px;
}
.header-menu__link{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.header-menu__link:hover{
    color: #fce38a;
    text-decoration: none;
}
.header-menu__link:visited{
    color: #fff;
}
.header-menu__link:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #fce38a;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.header-menu__link:hover:after,
.header-menu__link:focus:after {
    width: 100%;
}
.header-icons img{
    padding: 0 20px; 
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.header-icons img:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
}
.hide{
    display: none;/
}

/* MAIN-SECTION */ 

.main-section__item{
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(227,124,124,0.9)),to(rgba(233,211,130,0.9))), url(../img/eagle_header-bg.jpg);
    background-image:linear-gradient(to bottom, rgba(227,124,124,0.9) 0%,rgba(233,211,130,0.9) 100%), url(../img/eagle_header-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    height: 100vh;
}
.header-title{
    color: #fff; 
    text-align: center;
}
.header-title__top{
    margin-top: 220px;
    font-size: 72px;
    font-family: 'Kaushan Script', sans-serif;
}
.header-title__bottom{
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.9;
    padding: 20px 0;
}
.header-title__divider{
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin-top: 40px;
}
.header-btn__link{
    color: #fff;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 700;
    border: 3px solid #fff;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.header-btn__link:hover{
    color: #fce38a;
    border: 3px solid #fce38a;
}
.main-section__indicators ol{
    bottom: 48px;
    line-height: 60px;
}
.indicators__link{
    width: 23%;
    height: 3px;
    margin: 0 15px;
    background-color: #fff;
    font-size: 18px;
    color: #fff;
}
.indicators__link:hover{
    color: #fff;
}
.indicators__link span{
    font-weight: bold;
}
.main-section__indicators li{
    margin: 0;
}
.main-section__indicators .active li{
    transition: 4s;
    background-color: #f38181;
    width: 100%;
}


/* SECTION-1 */

.section-1{
    padding-bottom: 110px;
}
.section-1__about-us{
    margin-bottom: 84px;
}
.media-item{
    position: relative;
}
.media-item__img {
    position: relative;
}
.media-item__pic{
    width: 100%;
}
.media-item:hover .media-item__img {
    -webkit-box-shadow: 10px 10px 0 #95e1d3;
    box-shadow: 10px 10px 0 #95e1d3;
    top: -10px;
    left: -10px;
}
.media-item__img:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#f38181),to(#fce38a));
    background: linear-gradient(to bottom, #f38181 0%,#fce38a 100%);
    opacity: 0;
    -webkit-transition: opacity 1000ms;
    transition: opacity 1000ms;
}
.media-item:hover .media-item__img:after{
    opacity: 0.9;
}
.media-item__addinfo {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
    text-transform: uppercase;
    font-weight: bold;
}
.media-item__addinfo img{
    display: block;
    margin: 0 auto;
}
.media-item:hover .media-item__addinfo {
    display: block;
}
.facts{
    padding: 70px;
    background-color: #95e1d3;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.facts__numbers{
    font-size: 72px;
    font-weight: 700;
}

/* SECTION-2 */

.section-2{
    padding-bottom: 60px;
}
.services h2{
    padding-left: 60px;
}
.services p{
    padding-left: 90px;
}
.services__photography {
    background-image: url(../img/alarm.png);

}
.services__web-design{
    background-image: url(../img/line_graph.png);
}
.services__creativity {
    background-image: url(../img/computer_ok.png);
}
.services__seo {
    background-image: url(../img/book.png);
}
.services__css-html {
    background-image: url(../img/home.png);
}
.services__digital {
    background-image: url(../img/digital.png);
}


/* SECTION-3 */

.section-3{
    background-image: url(../img/lake-bg.jpg);
    background-size: cover;
    background-position: center;
}
.devices {
    position: relative;
    margin-top: -13px;
}

.iphone {
    position: absolute;
    bottom: -90px;
    right: 220px;
}

/* SECTION-4 */

.section-4 {
    padding-bottom: 90px;
}
.accordion-item{
    margin-bottom: 10px;
}
.accordion-item__header{
    padding: 14px;
    background-color: #fff;
}
.accordion-item__link{
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}
.card-header .accordion-item__link:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e113"; 
    float: right;
    color: #cccccc;
}
.card-header .accordion-item__link.collapsed:after {
    content: "\e114"; 
}
.accordion-item__link:hover,
.accordion-item__link:focus{
    color: #f38181;
}
.accordion-item__icon {
    float: left;
    margin-right: 14px;
}
.accordion-item__text {
    height: 173px;
    font-style: italic;
    padding: 20px;
    margin-bottom: 0;
    overflow: scroll;
}
.accordion-item__text::-webkit-scrollbar {
    width: 5px;
}
.accordion-item__text::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 10px 0 0 rgba(149,225,211,1); 
}
.accordion-item_arrow {
    color: #cccccc;
    float: right;
    width: 22px;
    height: 12px;
}
.arrow_up {
    background-image: url(../img/arrow.png);
}
.arrow_down{
    background-image: url(../img/arrow_down.png);
}
.indents{
    margin-bottom: 90px;
}

/* SECTION-5 */

.section-5,
.section-9{
    padding: 70px 0;
    background-color: #f8f8f8;
}
.quote-slider__item {
    padding: 0 95px;
}
.quote-slider__item-img{
    float: left;
    margin-right: 60px;
    border: 3px solid #95e1d3;
    padding: 40px;
}
.quote-slider__item-quote{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #999999;
    
}
.quote-slider__item-control{
   width: 12px;
   margin: 0 22px
}
.quote-slider__item-control-prev-icon{
    background-image: url(../icons/arrow_left.svg);
}
.quote-slider__item-control-next-icon{
    background-image: url(../icons/arrow_right.svg);
}
.quote-slider__item-cite{
    color: #333333;
    font-size: 24px;
    font-family: 'Kaushan Script', sans-serif;
}
.quote-slider__item-cite::before{
    content: "";
    display: block;
    float: left;
    width: 60px;
	height: 3px;
	background-color: red;
	margin: 15px;
    margin-left: 0;
}


/* SECTION-6 */

.section-6{
    padding-bottom: 120px;
}
.media-item__links{
    flex-wrap: nowrap;
    position: absolute;
    transform: translate( -50%, -100% );
}
.media-item__links a{
    background: #fce38a;
    width: 56px;
    height: 56px;
    display: flex;
    color: #f38181;
}
.media-item__links a:hover{
    background: #f38181;
    color: #fff;
}
.media-item__links a i{
    margin: auto;
    font-size: 30px;
}
.tm_name,
.work_name{
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
}
.tm_position,
.work_descr{
    text-transform: none;
    font-family: 'Rooto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999999;
}
.section-7{
    padding: 60px 0;
    background-color: #f8f8f8;
}

/*WORKS SECTION*/

.section-8 {
    max-width: 1915px;
    margin: 0 auto;
}
.media-item:hover .work-item {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0;;
    left: 0;
}
.work_name,
.work_descr{
    color: #fff;
    padding: 10px 0;
}
.work_name{
    margin-top: 10px;
}

/*section-9*/

.client{
    border: none;
    width: 200px;
	height: 200px;
	border-radius: 50%;
    margin-right: 30px;
    padding: 0;
}
.section-9 .quote-slider__item-quote{
    transform: translateY(25%);
}

/*section-10*/

.section-10{
    background-image: url(../img/mountains-bg.jpg);
    background-size: cover;
    background-position: center;
}
.team-foto{
    width: 120px;
	height: 120px;
	border-radius: 100%;
    margin-right: 30px;
    padding: 0;
}

/*section-11*/

.section-11{
    padding-bottom: 115px;
}
.blog-item{
    position: relative;
}
.blog-item__data{
    padding: 15px;
    background-color: #95e1d3;
    position: absolute;
    top: 50%;
    transform: translate(-15%,-20%);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
.blog-item__month{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 15px;
}
.blog-item__statistic{
    color: #95e1d3;
}
.statistic__counter{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/*section-12*/

.section-12{
    background-image: url(../img/map_bg.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.section-12:hover{
    filter: grayscale(100%) sepia(0.1);
    -webkit-filter: grayscale(100%) sepia(0.1);
}
.section-12:hover .map-item-group{
    transform: scale(1.2);
}
.map-item-group{
        transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 55px;
    font-size: 24px;
    text-transform: uppercase;
    color: #f38181;
}

.footer-content{
    padding: 70px 0 50px;
}
.footer-logo{
    color: #cccccc;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}
.footer-logo:hover{
    color: #f38181;
}
.footer-text{
    padding: 15px;
    padding-left: 0;
}
.followers{
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
.followers span{
    font-weight: bold;
}
.follow-us a{
    color: #95e1d3;
    margin: 0 6px;
}
.follow-us a:hover{
    color: #f38181;
}
.mail{
    width: 228px;
	height: 40px;
	border: 1px solid #e7e7e7;
}
.mail::placeholder {
	color: #d2d2d2;
	padding-left: 12px;
	font-style: italic;
}
.mail__btn {
	background-color: #95e1d3;
	width: 150px;
	height: 40px;
	border: none;
	color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.mail__btn:hover {
	background-color: #fff;
    color: #f38181;
    border: 2px solid #f38181;
    cursor: pointer;
}
.footer-blogs,
.footer-insta,
.footer-our-site-created{
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
.footer-insta-pic img{
    padding: 2px 0;
}
.blogs_descr{
    font-size: 12px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.blogs_descr span,
.footer-insta__view-more{
    font-size: 13px;
    text-transform: none;
    color: #999999;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
.footer-insta__view-more{
    color: #333333;
}
.footer-insta__view-more:hover{
    color: #f38181;
}
.footer-our-site-created{
    text-transform: none;
    border-top: 1px solid #e5e5e5;
}
.footer-our-site-created span{
    color: #f38181;
}